on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5 
        with:
          python-version: '3.9' 
      - uses: aws-actions/setup-sam@v2
        with:
          use-installer: true
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: us-east-1
          role-to-assume: ${{ secrets.ROLE_ARN }}
      - shell: bash
        name: Deploy
        run: |
          sam build
          sam deploy --parameter-overrides "OpenAiApiKey=${{ secrets.OPENAI_API_KEY }}" "PineconeApiKey=${{ secrets.PINECONE_API_KEY }}"
